.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.code-container {
  width: 100%;
  padding: 0.5em;
  border-radius: 3px;
  border-style: none;
  margin-bottom: 0.5rem;
  background-color: #3b3b35;
}

.flare-input button,
.btn {
  background-image: none;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 65%;
  line-height: normal;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: 50%;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.flare-input button::-moz-focus-inner,
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.flare-input button:hover,
.flare-input button:focus,
.btn:hover,
.btn:focus {
  color: #802400;
  border: 1px solid #802400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.flare-input button:active,
.btn:active {
  color: #ff8b26;
  border: 1px solid #ff8b26;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flare-input input[type="range"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid transparent;

  background: transparent;
}

.flare-input input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.flare-input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}

.flare-input input[type="range"]:focus {
  outline: none;
}

.flare-input input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.flare-input input[type="range"]::-moz-range-track {
  height: 3px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.flare-input input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
.flare-input input[type="range"]:-moz-focusring {
  outline: 1px solid transparent;
  outline-offset: -1px;
}

.flare-input input[type="range"]::-ms-track {
  height: 3px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

.flare-input input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

.flare-input input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

.flare-input input[type="range"]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

.flare-input input[type="range"]:focus::-ms-fill-lower {
  background: #888;
}

.flare-input input[type="range"]:focus::-ms-fill-upper {
  background: #ccc;
}

#controls > div.flare-input {
  display: inline-block;
  margin-right: 5px;
}
